<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Task Manager Tool - {% block title %}Homepage{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('vendor/bootstrap/3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body id="{% block body_id %}{% endblock %}">
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("homepage") }}">Task Manager <span
                            class="version">1.6.1</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" id="dLabel">
                                {{ 'user.welcome.msg' | trans ({'%user%':app.user}) }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">{{ 'user.change.password' | trans }}</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'link.logout'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('task_index') }}">{{ 'task.link.list' | trans }}</a>
                        </li>
                    {% endif %}

                    {% if not app.user %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'link.login'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'link.new_user'|trans }}</a>
                        </li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container content">
        <div>
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">{{ flash_message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
    <address>{{ 'copyright' | trans }}
        <p>
            <a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: 'en' })) }}">English</a>
            -
            <a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: 'es' })) }}">Español</a>
        </p>
    </address>
</footer>
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/2.2.1/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
{% endblock %}
</body>
</html>
