{% trans_default_domain 'FOSUserBundle' %}
<h2>Change password</h2>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
<div>
    {{ form_row(form.current_password, {'attr':{'class':'form-control'}}) }}
    {{ form_row(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
    {{ form_row(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
</div>
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
    <a class="btn btn-default"
       href="{{ path('homepage', {'_locale': 'en'}) }}">{{ 'global.actions.cancel' | trans({}, 'messages') }}</a>
</div>
{{ form_end(form) }}
