{% extends ':task:new.html.twig' %}
{% block title %}
    Edit task - {{ task.name }}
{% endblock %}
{% block body %}
    <h2>{{'task.edit.title' | trans ({'%task%':task.name}) }}</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="navbar-form">
        <input type="submit" value="{{ 'global.actions.save' | trans }}" class="btn btn-primary"/>
        <a href="{{ path('task_index') }}" class="btn btn-default">{{ 'global.actions.cancel' | trans }}</a>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
