{% extends 'base.html.twig' %}

{% block body %}
    <h2>All Tasks</h2>
    <ul class="task-actions">
        <li class="new">
            <a href="{{ path('task_new') }}" class="btn btn-primary">New task</a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.dueDate | date('Y-m-d h:i A') }}</td>
                <td>
                    <ul class="task-actions">
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}" class="btn btn-primary">Details</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-success">Edit</a>
                        </li>
                        <li><a href="{{ path('task_delete', { 'id': task.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this task?');">Remove</a> </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total: {{ tasks | length }}</td>
            </tr>
        </tfoot>
    </table>


{% endblock %}
