{% extends 'base.html.twig' %}

{% block body %}
    <h2>All Tasks</h2>
    <ul>
        <li>
            <a href="{{ path('task_new') }}">New task</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.dueDate | date('Y-m-d h:i A') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">Details</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
                        </li>
                        <li><a href="#">Remove</a> </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total: {{ tasks | length }}</td>
            </tr>
        </tfoot>
    </table>


{% endblock %}
